:root {
  --mainColor: #ad2b32;
  --mainColor10: #fbeeef;
  --mainColor30: #f2ccce;
  --gold: #ffd700;
  --whiteColor: #ffffff;
  --blackColor: #1f1f1f;
  --bodyColor: #f3f3f9;
  --textColor: #777777;
  --transition: all 0.3s ease-in-out;
  --shadow: 0px 2px 4px #c1c1c1;
  --BigShadow: 0px 4px 24px #c1c1c1;
  --headerBackgroundColor: var(--whiteColor);
}

@font-face {
  font-family: madani;
  font-display: swap;
  src: url(../webfonts/Madani.woff);
}
* {
  font-family: "madani", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  direction: rtl;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  border-radius: 0px !important;
}

::-webkit-scrollbar-track {
  border-radius: 0px !important;
  background: var(--backgroundColor);
  box-shadow: inset 1px 1px 2px #cfcfd4, inset -1px -1px 2px #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  outline: none;
  border-radius: 20px !important;
}

:target {
  scroll-margin-top: 50px;
}

a {
  text-decoration: none;
  transition: var(--transition) !important;
  color: var(--mainColor);
}

a:hover {
  text-decoration: none;
  color: var(--mainColor);
}

button:focus {
  outline: 0;
}

.row {
  margin: 0px;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@media (max-width: 767px) {
  .container,
.container-fluid {
    padding: 0px 8px;
  }
}
video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}

.btn:focus {
  box-shadow: none;
}

body {
  background-color: var(--backgroundColor);
}

input {
  accent-color: var(--mainColor) !important;
}

.form-control {
  min-height: 48px;
  box-shadow: none !important;
  color: #777;
}

.odometer-inside {
  direction: ltr !important;
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.8;
}

.fancybox__container {
  z-index: 1999;
}

.form-check {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
}

.form-check-input {
  width: 20px;
  height: 20px;
  margin: 0 !important;
  float: none !important;
}
.form-check-input:checked {
  background-color: var(--mainColor);
  border-color: var(--mainColor);
}
.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 89, 91, 0.1882352941);
}

::-moz-placeholder {
  font-size: 12px;
  color: #bababa !important;
  font-weight: normal !important;
}

:-ms-input-placeholder {
  font-size: 12px;
  color: #bababa !important;
  font-weight: normal !important;
}

::placeholder {
  font-size: 12px;
  color: #bababa !important;
  font-weight: normal !important;
}

[type=email],
[type=number],
[type=tel],
[type=url] {
  direction: rtl;
}

content {
  width: min(100% - 20px, 1320px);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: calc(100vh - 80px);
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1024;
  margin-bottom: 10px;
  transition: var(--transition);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.1882352941);
}
header nav {
  width: min(100% - 20px, 1320px);
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 16px;
  gap: 16px;
}
header nav .logo {
  margin: auto 0;
}
header nav .logo img {
  height: 40px;
  transition: var(--transition);
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 480px) {
  header nav .logo img {
    height: 30px;
  }
}
header nav .navMenu {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 6px;
  transition: var(--transition);
}
header nav .navMenu .navLink {
  padding: 4px 12px;
  display: flex;
  align-items: center;
  color: var(--blackColor);
}
header nav .navMenu .navLink:hover {
  color: var(--mainColor);
}
header nav .navMenu .navLink.btn {
  border: 1px solid var(--mainColor);
  border-radius: 8px;
  background-color: var(--mainColor);
  color: var(--whiteColor);
}
@media (max-width: 768px) {
  header nav .navMenu {
    position: fixed;
    z-index: -1;
    right: -100%;
    top: 0px;
    width: 100%;
    height: 100vh;
    padding: 60px 0;
    flex-direction: column;
    justify-content: center;
    background-color: var(--headerBackgroundColor);
    align-items: center;
  }
  header nav .navMenu .navLink {
    text-align: center;
    justify-content: center;
    padding: 12px;
  }
}
header nav .navMenu.active {
  right: 0;
}
header nav .navBtn {
  margin: auto 0;
  position: relative;
  min-width: 24px;
  height: 24px;
  padding: 5px;
  cursor: pointer;
  transition: var(--transition);
  z-index: 2;
}
header nav .navBtn span {
  position: absolute;
  left: 0;
  display: block;
  width: 24px;
  height: 2px;
  background-color: var(--mainColor);
  margin: 4px 0;
  transition: var(--transition);
}
header nav .navBtn span:first-child {
  top: 0;
}
header nav .navBtn span:nth-child(2) {
  width: 10px;
  top: 7px;
}
header nav .navBtn span:nth-child(3) {
  width: 16px;
  bottom: 0;
}
header nav .navBtn:not(.active):hover span:first-child {
  width: 16px;
}
header nav .navBtn:not(.active):hover span:nth-child(2) {
  width: 20px;
}
header nav .navBtn.active span {
  background-color: var(--mainColor) !important;
}
header nav .navBtn.active span:first-child {
  transform: rotate(45deg);
  top: 8px;
  width: 20px;
}
header nav .navBtn.active span:nth-child(2) {
  width: 0;
  opacity: 0;
}
header nav .navBtn.active span:last-child {
  transform: rotate(-45deg);
  top: 8px;
  width: 20px;
}
@media (min-width: 768px) {
  header nav .navBtn {
    display: none;
  }
}

.headerAnimate {
  box-shadow: var(--BigShadow);
  padding: 5px;
  background-color: var(--whiteColor);
}

.mainSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-size: cover !important;
  background-position: center center !important;
  height: 490px;
  border-radius: 0 0 8px 8px;
  margin-bottom: 50px;
  color: var(--whiteColor);
  gap: 12px;
}
.mainSection h1 {
  font-weight: bold;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-size: 38px !important;
}
@media (max-width: 768px) {
  .mainSection h1 {
    font-size: 24px !important;
  }
}
.mainSection h5 {
  font-weight: normal;
}
.mainSection::before {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 50%;
  z-index: -1;
  background-color: rgba(173, 43, 50, 0.5647058824);
  width: 95%;
  height: 200px;
  border-radius: 100%;
  transform: translateX(-50%);
}

footer .copyRight {
  text-align: center;
}
footer .support {
  position: fixed;
  left: 10px;
  bottom: 20px;
  z-index: 999;
  background-color: var(--bodyColor);
  border-radius: 1000px;
  padding: 5px;
}
footer .support .supportBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  background-color: var(--mainColor);
  box-shadow: var(--BigShadow);
  cursor: pointer;
  transition: var(--transition);
}
footer .support .supportBtn i {
  font-size: 20px;
  color: var(--whiteColor);
}
footer .support .links {
  display: none;
}
footer .support .links a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  background-color: var(--whiteColor);
  box-shadow: var(--BigShadow);
  margin-bottom: 10px;
  cursor: pointer;
}
footer .support .links a i {
  font-size: 24px;
  color: var(--whiteColor);
}
footer .support .links a.whatsapp {
  background-color: #25d366;
}
footer .support .links a.call {
  background-color: #34b7f1;
}

/* PC device :992px. */
@media (min-width: 992px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 15px;
  }
  a,
p {
    font-size: 14px;
  }
}
/* Tablet device :768px. */
@media (min-width: 768px) and (max-width: 992px) {
  /* Global */
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 21px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 15px;
  }
  a,
p {
    font-size: 14px;
  }
}
/* small mobile :320px. */
@media (max-width: 768px) {
  /* Global */
  body {
    font-size: 13px;
  }
  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 19px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 17px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
  a,
p {
    font-size: 13px;
  }
}/*# sourceMappingURL=style.css.map */